@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main__description {
    flex: 1;
    padding: 0 20px;
    margin: 0 auto;
}

.main__form {
    flex: 1;
    padding: 0 20px;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 0;
}

p {
    margin-top: 30px;
    font-size: 15px;
}

.box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    padding: 40px 40px;
	margin-bottom: 20px;
	text-align: center;
}

.p-0 {
    margin: 0;
}

.box--blue {
    background-color: var(--blue);
    padding: 15px 20px;
}


.form__control {
	position: relative;
	margin-bottom: 30px;
}

.form__input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid var(--dark-blue);
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
    padding: 15px 25px;
    margin-bottom: 30px;
}

.form__input:focus {
    border: 2px solid hsl(248, 32%, 49%);
	outline: none;
}

.form__input--error {
    border: 2px solid var(--red);
    color: var(--red)
}

.form__image-error {
    display: none;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.form__image-error--active {
    display: block;
}

.form__validation {
    position: absolute;
    color: var(--red);
    text-align: right;
    bottom: -24px;
    right: 10px;
    opacity: 0;
    margin-bottom: 3px;
}

.form__validation--active {
    opacity: 1;
    font-style: italic;
}

.form__button {
    display: block;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: var(--green);
    padding: 15px 25px;
    box-shadow: 0 3px hsl(154, 59%, 45%);
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form__tas {
    color: var(--grayish-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form_tas--anchor {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .main__description {
        margin: 30px;
    }

    .main__form {
        margin: 30px 0;
    }
    
    h1, p {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }
} 